<%= stylesheet_link_tag 'edit', :media => "all" %>
<div class="onaoshi">
 <h2>投稿を編集する</h2>
</div>

<div class="edit-container">
    <%= form_for @cosmetic do |f| %>
        
        <div class="field">
            <%= f.label :商品名（品番まで） %>
            <%= f.text_field :name, :size => 30 %>
        </div>

        <div class="field">
            <%= f.label :価格  %>
            <%= f.number_field :cost, :size => 10 %>円
        </div>

        <div class="field">
            <%= f.label :肌質 %>
            <%= f.select :nayami, 
            [["普通肌", "普通肌"], 
            ["混合肌", "混合肌"], 
            ["脂性肌", "脂性肌"],
            ["乾燥肌", "乾燥肌"]], include_blank: "選択して下さい" %>
        </div>



        <div class="field">
            <%= f.label :商品説明  %>
            <%= f.text_area :about, :size => "30x2" %>
        </div>

        <div class="field">
            <%= f.label :商品ジャンル  %>
            <%= f.select :genre, 
            [["リップ", "リップ"], 
            ["チーク", "チーク"], 
            ["ハイライト", "ハイライト"],
            ["ファンデーション", "ファンデーション"],
            ["コンシーラー", "コンシーラー"],
            ["下地", "下地"],
            ["パウダー", "パウダー"],
            ["アイシャドウ", "アイシャドウ"],
            ["アイブロウ", "アイブロウ"],
            ["アイライナー", "アイライナー"],
            ["マスカラ", "マスカラ"],
            ["ヘアケア", "ヘアケア"],
            ["スキンケア", "スキンケア"],
            ["その他", "その他"]], include_blank: "選択して下さい" %>
        </div>

        <div class="field">
            <%= f.label :商品の写真 %>
            <%= f.file_field :image %>
        </div>

        <div class='form-group'>
         検索タグを選択してください
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                <div class='form-check'>
                    <%= tag.label class: 'form-check-label' do %>
                        <%= tag.check_box class: 'form-check-input' %>
                        <%= tag.text %>
                    <% end %>
                </div>
            <% end %>
        </div>

        <%= f.submit "編集する" %>
    <% end %>
</div>