
<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="cosmetics-container">

    <h1>レビュー一覧</h1>

    <h2>商品ジャンル検索</h2>
    <%= form_tag({controller:"cosmetics",action:"index"}, method: :get) do %>
        <%= select_tag "search", raw("<option>リップ</option><option>チーク</option><option>ハイライト</option><option>シェーディング</option><option>ファンデーション</option><option>コンシーラー</option><option>下地</option><option>パウダー</option><option>アイシャドウ</option><option>アイブロウ</option><option>アイライナー</option><option>マスカラ</option><option>ヘアケア</option><option>スキンケア</option><option>その他</option>")  %>
        <%= submit_tag '検索する'  %>
    <% end %>

    <h2>タグ検索</h2>
    <%= form_tag({controller:"cosmetics",action:"index"}, method: :get) do %>
        <% Tag.all.each do |t| %>
            <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
        <% end %>
        <%= submit_tag '検索' %>
    <% end %>

    <%= page_entries_info @cosmetics %>
    <%= paginate @cosmetics %>

    <h2>投稿一覧</h2>

    <% @cosmetics.each do |t| %>
       
        <div class="cosmetic">
            投稿者 <%= link_to t.user.name, user_path(t.user.id) %>
            <br>
            <%= image_tag t.image_url, size: "250x200" if t.image? %>
            <br>
            <%= t.name %>
            <br>
            <%= t.cost %>円
            <br>
            肌質 <%= t.nayami %>
            <br>
            商品説明 <%= t.about %>
            <br>
            商品ジャンル <%= t.genre %>
        
            <% if user_signed_in? %>
                <% if current_user.already_played?(t) %>
                    <%= button_to cosmetic_play_path(id: t.id, cosmetic_id: t.id), method: :delete do %>
                        <p>いいねを取り消す</p><%= t.plays.count %>
                    <% end %>
                <% else %>
                    <%= button_to cosmetic_plays_path(id: t.id, cosmetic_id: t.id), method: :post do %>
                        <p>いいね</p><%= t.plays.count %>
                    <% end %>
                <% end %>
            <% else %>
                <p>いいねの数 = </p><%= t.plays.count %>
            <% end %>
        </div>

        <%= link_to "詳細へ", cosmetic_path(t.id) %>
    
        <% if user_signed_in? && current_user.id == t.user_id %>  
            <%= link_to "編集する", edit_cosmetic_path(t.id) %>
            <%= button_to "削除する", cosmetic_path(t.id), method: :delete %>
        <% end %>

    <% end %>
</div>
