<!DOCTYPE html>
<html>
  <head>
    <title>Peachcosme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



<body>
<header>

  <div class="header-logo">
    <h1>PeachCosmeCollege</h1>
  </div>

  <div class="openbtn"><span></span><span></span><span></span></div>
  <nav id="g-nav">
    <div id="g-nav-list">  
      <ul>
        <li>
        <%= link_to "TOP", cosmetics_top_path %>
        </li>  
        
       <% if user_signed_in? %>
        <li>
         <%= link_to "Mypage", user_path(current_user.id) %>
        </li>
        <li>
         <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </li>
        <li>
         <%= link_to "新規投稿", new_cosmetic_path %>
        </li>  
       <% else %>
        <li>
         <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
         <%= link_to "ログイン", new_user_session_path %>
        </li>
       <% end %>
        

        <li>
         <%= link_to "投稿一覧", cosmetics_path %>
        </li>  
       
      </ul>  
    </div>
  </nav>
</header>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</body>

</html>


<script>
$(".openbtn").click(function () {
 $(this).toggleClass("active");
 $("#g-nav").toggleClass("panelactive");
});
$("#g-nav a").click(function () {
 $(".openbtn").removeClass("active");
 $("#g-nav").removeClass("panelactive");
});
</script>


 <main>
  <%= yield %>
 </main>

 <footer>
 <p>Copyright © GeekSalon All Rights Reserved.</p>
</footer>
</body>
</html>
